# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
.hfapp/
venv/
.venv/
env/
.env/

# Build and distribution
dist/
build/
*.egg-info/

# Streamlit config
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/
